@import '../../../assets/styles/buttons';
@import '../../../assets/styles/forms';
@import '../../../assets/styles/variables';

.login-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-open-sans;
  margin-bottom: 50px;
  a {
    color: $dirty-yellow;
  }

  .registration-headers {
    text-align: center;

    .join-us-header {
      font-size: $font-main-headers;
      padding: 40px 0;
    }
    .yellow-header {
      color: $dirty-yellow;
      font-size: $font-semi-headers;
    }
  }

  .form-group-ext, .form-control-ext {
    @include respondFromTo($device-md, $device-xxxl) {
      width: 380px;
    }
  }
  .login-button-group {
    margin-bottom: 50px;
    .form-group-ext, .form-control-ext {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .inner-addon {
    position: relative;

    .show-password-icon {
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 42px;
      right: 15px;
    }
  }
  .account-question {
      margin-left: 50px;
  }
}


