<nav class="container-fluid header-container">
  <div class="row photo-layer">
    <div class="col-md-2 center-align">
      LOGO
    </div>
    <div class="col-md-6">
      <ul class="nav-container">
        <li class="nav-item">
          <a class="nav-link" routerLink="my-account">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search-craftsman">Znajdź rzemieślnika</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="error-occurred">Dodaj zlecenie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="error-occurred">Profile Rzemieślników</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 user-panel">
     <app-user-panel></app-user-panel>
    </div>

  </div>
</nav>


