@import '../../../assets/styles/buttons';
@import '../../../assets/styles/variables';
nav {
  background-color: $nav-brown;
  .nav-link {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: $font-open-sans;
  }
  margin-bottom: 50px;
}

.header-container {
  min-height: 174px;
  background-color: $nav-brown;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.photo-layer {
  background: url('../../../assets/images/menu_image.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
