@import '../../../assets/styles/variables';

.header-container {
  min-height: 80px;
  background-color: $nav-brown;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .photo-layer {
    background: url('../../../assets/images/menu_image.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .nav-container {
    list-style-type: none;
    color: white;
    height: 100%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-item {
      font-size: $font-common-size;
      font-weight: normal;
      font-family: $font-open-sans;
      color: $white;
      padding: 0 5px;
      .nav-link {
        //padding-right: 20px;
        color: $white;
      }
    }
  }
  app-user-panel {
    width: 100%;
  }
  .user-panel {
    display: flex;
    align-items: center;
    //justify-content: flex-end;
    //padding: 0 40px;
  }
}



