<nav class="container-fluid header-container">
  <div class="photo-layer ">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="craftsmen">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="my-account">My profile</a>
      </li>
      <button class="button-transparent-white">Zaloguj się</button>
      <button class="button-white-transparent">Rejestracja</button>
    </ul>
  </div>
</nav>


