@import '../../../assets/styles/variables';
@import '../../../assets/styles/forms';
svg {
  fill: $black;
  width: 100px;
  height: 200px;
}
.registration-headers {
  display: flex;
  flex-flow: column;
  font-family: $font-open-sans;
  margin-bottom: 50px;
  text-align: center;
  .join-us-header {
    font-size: $font-main-headers;
    padding: 40px 0;
  }
  .yellow-header {
    color: $dirty-yellow;
    font-size: $font-semi-headers;
  }
}

.selection-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;

  .user {
    cursor: pointer;
    position: relative;
    background-color: $white;
    width: 480px;
    height: 650px;
    border: 1px solid $dirty-yellow;

    &:hover {
      background-color: $dirty-yellow;
      border: 0;
    }

    .photo-layer-user {
      background: url('../../../assets/images/user_image.png');
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      flex-flow: column;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin-top: 75px;
        font-size: 25px;
        font-family: $font-open-sans;
        color: $dirty-yellow;
      }
    }
  }
  .craftsman {
    cursor: pointer;
    position: relative;
    background-color: $dirty-yellow;
    width: 480px;
    height: 650px;

    &:hover {
      background-color: $white;
      border: 1px solid $dirty-yellow;
      .photo-layer-craftsman {
        p {
          color: $dirty-yellow;
        }
        .craftsman-icon {
          fill: $dirty-yellow !important;
        }
        svg {
          fill: $dirty-yellow !important;
          color: $dirty-yellow !important;
        }
      }
    }

    .photo-layer-craftsman {
      background: url('../../../assets/images/craftsman_image.png');
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      flex-flow: column;
      display: flex;
      justify-content: center;
      align-items: center;

      .craftsman-icon {
        width: 200px;
      }
      p {
        margin-top: 75px;
        font-size: 25px;
        font-family: $font-open-sans;
        color: $white;
      }
    }
  }
}



