<div class="user-profile-container">
  <!--<h1>My-Profile works!</h1>-->
  <!--<div *ngFor="let entry of userData | displayObj ">-->
    <!--{{entry.key}} {{entry.value}}-->
  <!--</div>-->
  <div class="my-profile left-side">
    <div class="user-main-info">
      <div class="avatar-container"></div>
      <div class="user-introduction">
        <p class="user-name">{{userData['firstName']}}  {{userData['lastName']}}</p>
        <p>Architekt</p>
      </div>
    </div>
    <hr>
    <div class="personal-data">
      Moje Dane
    </div>

  </div>
  <div class="my-profile right-side">
  </div>
</div>


