.user-profile-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;

  .my-profile {
    padding-left: 15%;
  }

  .profile-image {
    max-width: 150px;
    max-height: 200px;
    border-radius: 100%;
    object-fit: cover;
  }
}
