@import '../../../assets/styles/forms';
@import '../../../assets/styles/variables';
.inner-addon {
  position: relative;

  .show-password-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 42px;
    right: 15px;
  }
}

.additional-validation {
  margin-top: -20px;
  margin-bottom: 20px;
}
.password-progress {
  .progress {
    width: 80%;
    background-color: $white;
    margin: 15px auto;
    border: 1px solid #e7e7e7;
    .too-weak {
      background-color: $progress-bar-red;
    }
    .weak {
      background-color: $progress-bar-orange;
    }
    .good {
      background-color: $progress-bar-yellow;
    }
    .strong {
      background-color: $progress-bar-green;
    }
  }
  .too-weak {
    color: $progress-bar-red;
    text-align: center;
  }
  .weak {
      color: $progress-bar-orange;
      text-align: center;
  }
  .good {
      color: $progress-bar-yellow;
      text-align: center;
  }
  .strong {
      color: $progress-bar-green;
      text-align: center;
  }
  p {
    text-align: center;
    margin-bottom: 0;
  }
}

