<form [formGroup]="passwordForm">
  <div class="form-group-ext" formGroupName="passwordGroup">
    <label class="form-label-ext inner-addon">Hasło
      <input class="form-control form-control-ext"
             formControlName="password"
             [attr.type]="passwordVisible ? 'text' : 'password'"
             [ngClass]="{'invalid-border': password.errors && fieldValidationService.cantTouchThis(password)}">
      <svg class="show-password-icon"
           (mousedown)="showPassword(0)"
           (mouseup)="hidePassword(0)"
           (mouseleave)="hidePassword(0)">
        <use xlink:href="/assets/images/vectors/eye_icon.svg#eyeico"></use>
      </svg>
    </label>
    <app-field-validator *ngIf="fieldValidationService.cantTouchThis(password)"
                         [errors]="password.errors"></app-field-validator>
    <label class="form-label-ext inner-addon">Powtórz hasło
      <input class="form-control form-control-ext"
             formControlName="confirmPassword"
             [attr.type]="confirmPasswordVisible ? 'text' : 'password'"
             [ngClass]="{'invalid-border': passwordForm.controls['passwordGroup'].errors && fieldValidationService.cantTouchThis(confirmPassword)}">
      <svg class="show-password-icon"
           (mousedown)="showPassword(1)"
           (mouseup)="hidePassword(1)"
           (mouseleave)="hidePassword()">
        <use xlink:href="/assets/images/vectors/eye_icon.svg#eyeico"></use>
      </svg>
    </label>
    <app-field-validator *ngIf="fieldValidationService.cantTouchThis(confirmPassword)"
                         [errors]="passwordForm.controls['passwordGroup'].errors"></app-field-validator>
  </div>
</form>
{{passwordStrength}}


