<form [formGroup]="passwordForm">
  <div class="form-group-ext" formGroupName="passwordGroup">
    <div class="form-group-ext">
      <label class="form-label-ext inner-addon">Hasło
        <input class="form-control form-control-ext"
               formControlName="password"
               [attr.type]="passwordVisible ? 'text' : 'password'"
               [ngClass]="{'invalid-border': password.errors && fieldValidationService.isControlTouched(password)}">
        <svg class="show-password-icon"
             (mousedown)="showPassword(0)"
             (mouseup)="hidePassword(0)"
             (mouseleave)="hidePassword(0)">
          <use xlink:href="/assets/images/vectors/eye_icon.svg#eyeico"></use>
        </svg>
      </label>
      <div class="additional-validation">
        <div *ngIf="password.value" class="password-progress">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated"
                 [ngClass]="passwordColor"
                 role="progressbar"
                 [attr.aria-valuenow]="passwordStrength.value" aria-valuemin="0" aria-valuemax ="100"
                 [ngStyle]="{ 'width': passwordStrength.value + '%' }"></div>
          </div>
          <p>Hasło <span [ngClass]="passwordColor">{{passwordStrength.name}}</span></p>
        </div>
        <app-field-validator *ngIf="fieldValidationService.isControlTouched(password)"
                             [errors]="password.errors"></app-field-validator>
      </div>
    </div>
    <div class="form-group-ext">
      <label class="form-label-ext inner-addon">Powtórz hasło
        <input class="form-control form-control-ext"
               formControlName="confirmPassword"
               [attr.type]="confirmPasswordVisible ? 'text' : 'password'"
               [ngClass]="{'invalid-border': passwordForm.controls['passwordGroup'].errors && fieldValidationService.isControlTouched(confirmPassword)}">
        <svg class="show-password-icon"
             (mousedown)="showPassword(1)"
             (mouseup)="hidePassword(1)"
             (mouseleave)="hidePassword()">
          <use xlink:href="/assets/images/vectors/eye_icon.svg#eyeico"></use>
        </svg>
        <app-field-validator *ngIf="fieldValidationService.isControlTouched(confirmPassword)"
                             [errors]="passwordForm.controls['passwordGroup'].errors"></app-field-validator>
      </label>
    </div>
  </div>
</form>


