@import '../../../assets/styles/forms';

.inner-addon {
  position: relative;

  .show-password-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 42px;
    right: 15px;
  }
}
