//Colors
$dirty-yellow: #cb8c3a;
$nav-brown: #3f2d15;
//Fonts
$font-open-sans: "Open Sans";
$font-button-size: 15px;
//Transition
$transition-time-mobile: 300ms;
$transition-time-tablet: 400ms;
$transition-time-desktop: 500ms;

$transition-time-slow: 400ms;
$transition-time-medium: 200ms;
$transition-time-fast: 100ms;

//Buttons
$button-border-size: 2px;
